################################################################
#	2018-08-01
#	Author: Jasper(rabbit.white@daum.net)
#	FileName: index.php
#	Goal: Jasper의 Homepage
#	Description:	
#
################################################################

Options +FollowSymLinks -Indexes -MultiViews  
<IfModule mod_rewrite.c>
rewriteEngine On
</IfModule>
#  
# Internally rewrite shortened URL requests to de-shortened URL lookup script filepath plus query string  

# 내 홈페이지
RewriteRule ^([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/?$ index.php?pageName=$1&subName=$2&pageID=$3&pageNum=$4&commentNum=$5 [L]
RewriteRule ^([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/?$ index.php?pageName=$1&subName=$2&pageID=$3&pageNum=$4 [L]
RewriteRule ^([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/?$ index.php?pageName=$1&subName=$2&pageID=$3 [L]
RewriteRule ^([A-Za-z0-9-\+]+)/([A-Za-z0-9-\+]+)/?$ index.php?pageName=$1&subName=$2 [L]
RewriteRule ^([A-Za-z0-9-\+]+)/?$ index.php?pageName=$1 [L]