/*
  Subject: JasperFramework with Food Client
  FileName: style.css
  Created Date: 2019-08-31
  Author: Dodo (rabbit.white@daum.net)
  Description:

*/


h2{
  font-family: "Nanum Gothic", sans-serif;
}