/*
  Subject: JasperFramework with Food Counter
  FileName: table.css
  Created Date: 2019-08-31
  Author: Dodo (rabbit.white@daum.net)
  Description:
  2019-10-07 / Jasper / titleType11 추가

*/

/* CSS 부분 */

table.type10 {
    width:100%;
    height:100%;
    text-align: center;
}

table.type10 th {
    width: 300px;
    height:25px;
    padding: 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size:20px;
    vertical-align: middle;
    color: #fff;
    background: #ce4869 ;
}

table.type10 td {
    width: 100%;
    height:25px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;

    font-family: "Nanum Gothic", sans-serif;
    font-size:40px;
    font-weight:bold;
    background: #c2c2c2;
    text-align:center;
}


table.type11 {
    width:100%;
    height:100%;
    text-align: center;
}

table.type11 th {
    width: 300px;
    height:25px;
    padding: 10px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size:20px;
    vertical-align: middle;
    color: #fff;
    background: #ce4869 ;
}

table.type11 td {
    width: 300px;
    height:25px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;

    font-family: "Nanum Gothic", sans-serif;
    font-size:100px;
    font-weight:bold;
    background: #f6f6f6;
    text-align:center;
}
